<% @body_id = 'home-page' %>

<section class="homepage-product-section" data-hook="homepage_products">
  <h2 class="section-heading no-border">Featured Products</h2>

  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</section>

