<section class="user-section">
  <h2 class="section-heading no-border">Featured Shops</h2>

  <% @vendors.each do |vendor| %>
    <div data-hook="account_summary" class="account-summary user-email-block">
        <dl id="user-info">
        <dt><%= vendor.name %></dt>
        <dd><%= vendor.slug %> (<%= link_to Spree.t(:go_to_shop), :action => 'shop_products', :id => vendor.id %>)</dd>
        </dl>
    </div>
  <%end%>

</section>

