<% @body_id = 'home-page' %>

<section class="homepage-product-section" data-hook="homepage_products">
  <h2 class="section-heading no-border">Shop Products</h2>
  <%= render partial: 'spree/shared/products', locals: { products: @products } %>
</section>
