<fieldset id="password-credentials">
  <div class="login-form-row">
    <%= f.select :customer_type, ['User', 'Vendor'], { prompt:'customer-type' }, :class => 'global-input customer-type', :placeholder => Spree.t(:customer_type)%>
  </div>
  <%= f.fields_for :vendors_attributes do |tf| %>
    <div class="login-form-row vendor">
      <%= tf.text_field :name, :class => 'global-input', :placeholder => Spree.t(:vendor_name) %>
    </div>
  <%end%>
  <div class="login-form-row">
    <%= f.email_field :email, :class => 'global-input', :placeholder => Spree.t(:email) %>
  </div>
  <div class="login-form-row">
    <%= f.password_field :password, :class => 'global-input', :placeholder => Spree.t(:password) %>
  </div> 
  <div class="login-form-row">
    <%= f.password_field :password_confirmation, :class => 'global-input', :placeholder => Spree.t(:confirm_password) %>
  </div> 
</fieldset>
<div data-hook="signup_below_password_fields"></div>
